@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Please note that this project was made for educational and demonstration purposes and was not intend to be monetized or offend others.</p>
