@{
    ViewData["Title"] = "BLAZED Bentos & Snacks";
}

<div class="text-center">
    <h1 class="display-4">Dedicated to the Flame Pillar</h1>
    <img src="~/Images/rengoku.jpg" title="Rengoku" alt="The Flame Pillar" />
</div>