@{
    Layout = "~/Views/Hidden/_Layout.cshtml";
}

@{
    ViewBag.Title = "Hidden Menu";
}

<h2>Hidden Menu</h2>

<p>Hello from our exclusive chefs! We bring to you the kawaii bentos of homecooking.</p>